{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content%}
<div style="margin-top: 100px;">
<h1 align="center">Memopad</h1>
<ul class="list-group list-group-flush" id="notes">
	{% for note in user.notes %}
	<li class="list-group-item">{{ note.data }}
		<button type="button" class="close" onClick="deleteNote({{ note.id }})">
			<span aria-hidden="true">&times;</span>
		</button>
		<!-- <button type="button" class="btn btn-outline-primary" onClick="editNote({{ note.id }})">Edit</button> -->

		<a
            href="{{ url_for('views.edit_note', note_id=note.id) }}"
            class="btn btn-outline-primary"
            role="button">Edit</a>
	</li>
	{% endfor %}
</ul>
<br>
<form method='POST'>
	<textarea name="note" id="note" class="form-control"></textarea>
	<br />
	<div align="center">
		<button type="submit" class="btn btn-primary">Add Note</button>
	</div>
</form>
</div>
{% endblock %}